SECRET_KEY ="Ваш секретный ключ из файла settings.py"
DEBUG="Пишем тру на этапе разработки"

POSTGRES_DB = namedb
POSTGRES_USER = user
POSTGRES_PASSWORD= pass
POSTGRES_HOST = host
POSTGRES_PORT = port